# Core
streamlit==1.38.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
Pillow==10.4.0
matplotlib==3.9.2
python-dotenv==1.0.1

# TensorFlow / Keras
tensorflow==2.17.0

# HuggingFace & RAG
sentence-transformers==2.2.2
transformers==4.33.3
torch==2.0.1
faiss-cpu==1.7.4
huggingface-hub==0.20.3
codecarbon==2.3.5

# DICOM (optional, for medical images)
pydicom==2.4.4

pdfminer.six==20221105
